
section{
	/*border: 1px solid green;*/
	width: 1100px;
	margin: auto;
	font-family: "微软雅黑";
}
.tittle-img{
	width: 1100px;
	height: 300px;
	/*border: 1px solid;*/
}
.tittle-img img{
	position: relative;
	top: -14px;
}
.nav-course div[class^="bg-"]{
	display: inline-block;
	margin-top: 20px;
	width: 352px;
	height: 80px;
	position: relative;
}
.nav-course p{
	text-align: center;
}
.tittlec{
	font-size: 22px;
	/*border: 1px solid;*/
	padding: 0;
	margin-top: 8px;
	color: white;
}
.tittlee{
	/*border: 1px solid ;*/
	margin-top: -18px;
	color: white;
}
div[class^="nav-course-list"]{
	width: 344px;
	height: 72px;
	margin: 2px 2px 2px 2px;
	/*border:1px solid;*/
}
.nav-course-list0{
	border: 2px solid rgb(254,135,139);
}
.nav-course-list1{
	border: 2px solid rgb(123,203,240);
}
.nav-course-list2{
	border: 2px solid rgb(160,220,120);
}
.bg-red{
	background: rgb(254,135,139);
	cursor: pointer;
}
.bg-blue{
	margin-left: 17px;
	background: rgb(123,203,240);
	cursor: pointer;
}
.bg-green{
	margin-left: 17px;
	background: rgb(160,220,120);
	cursor: pointer;
}
.white-border{
	margin-top:50px;
}
.white-border div{
	border: 2px solid white;
}

.concrete_courses{
	width: 1100px;
	margin: auto;
	
	/*position: relative;*/
}
.concrete_courses table{
	margin-top: 72px;
	border-collapse: collapse;
}
.concrete_courses tr{
	width: 1100px;
	height: 218px;
	border-bottom: 1px solid rgb(223,223,223);
}
.concrete_courses td{
	width: 1100px;
}
.concrete_course{
	width: 1100px;
	height: 150px;
	float: left;
	vertical-align: middle;
}
.concrete_course a{
	text-decoration: none;
	color: rgb(250,103,8);
}
.concrete_course_img{
	width: 266px;
	height: 150px;
	/*vertical-align: middle;*/
}
.concrete_course_img img{
	width: 266px;
	height: 150px;
}
.concrete_course_introduction{
	width: 614px;
	height: 150px;
	position: relative;
	left: 280px;
	top: -170px;
}
.concrete_course_introduction h3{
	font-size: 20px;
	color: rgb(85,85,85);
	font-weight: bolder;
	/*border: 1px solid black;*/
}
.concrete_course_introduction h3:hover{
	color: rgb(10,94,190);
}
.concrete_course_introduction a{
	/*border: 1px solid black;*/
	margin: 0;
	padding: 0;
}
.concrete_course_introduction_info{
	position: relative;top: -15px;
}
.concrete_course_introduction p{
	color: rgb(85,85,85);
	font-size: 12px;
	line-height: 24px;
	/*border: 1px solid red;*/
}
.concrete_course_check{
	width: 154px;
	height: 150px;
	position: relative;
	font-size: 12px;
	color: rgb(184,153,184);
	top: -330px;
	left: 930px;
	text-align: right;
}
.concrete_course_check input{
	width: 98px;
	height: 40px;
	background: rgb(10,94,190);
	color: white;
	border-radius: 5px;
	border: none;
	margin-top: 14px;
	transition: background 0.5s;
}
.concrete_course_check input:hover{
	background: rgb(65,133,211);
}
.concrete_courses .concrete-page-show{
	display: block;
}
.concrete_courses .concrete-page-hide{
	display: none;
}
table[class^="concretepage"]{
	position: absolute;
	top: 428px;
	margin-bottom: 134px;
}
.constructing{
	width:1100px;
	height: 218px;
	border: 1px solid rgb(223,223,223);
	margin-top: -35px;
	vertical-align: middle;
}
.course_constructing{
	width: 172px;
	height: 141px;
	vertical-align: middle;
	margin-top: 37px;
	margin-left: 464px;
}
footer{
	margin-top: 594px;
}