section[class^=background_]
{
	/*overflow: hidden;*/
	width: 1100px;
	margin: auto;
}
section[class^=background_]>img
{
	width: 1100px;
	height: 287px;
}
.background_a
{
	display: block;
}
.background_b
{
	display: none;
}
.nav_ul
{
	padding-left: 0px;
	width:730px;
	height: 55px;
	margin: auto;
	margin-top: 20px;
	list-style: none;
	/*border: solid 1px;*/
}
.nav_ul>li
{
	float: left;
	margin-left: 16px;
}
.nav_ul>li>img
{
	position: absolute;
	width: 133px;
	height: 55px;
}
.li_a
{
	position: relative;
	width: 133px;
	height: 55px;
}
.li_b
{
	position: relative;
	background: black;
	width: 133px;
	height: 55px;
	opacity: 0.5;
}
.div_text
{
	width: 1100px;
	height: 40px;
	margin: auto;
	margin-top: 40px;
	/*border: solid 1px;*/
}
.div_text>span
{
	display: inline-block;
	font-size: 20px;
	color: rgb(85,85,85);
	font-family: "微软雅黑";
	border-bottom: 1px solid rgb(204,204,204);
	height: 40px;
}
.video
{
	width: 1100px;
	margin:auto;
	/*border: solid 1px;*/
}
.video_s
{
	width: 820px;
}
.intro_s
{
	width: 220px;
	float: right;
}
.moddle_a
{
	width: 1100px;
	height: 480px;
	margin-top: 80px;
}
.moddle_b
{
	display: none;
	width: 1100px;
	height: 500px;
	margin-top: 80px;
}
.moddle_a ul
{
	float: left;
	padding-left: 0px;
	width: 820px;
	list-style: none;
	margin-bottom: 50px;
	/*border: solid 1px;*/
}
.moddle_ul li
{
	position: relative;
	top: 0px;
	left: 0px;
	display: inline-block;
	margin-left: 55px;
	transition: top 0.2s,left 0.2s;
}
.moddle_ul div
{
	position: relative;
	height: 272px;
	width: 255px;
	margin: -5px;
	border: 1px solid rgb(223,223,223);
	background: white;
}
.moddle_ul li:hover
{
	top: -5px;
	left: -5px;
}
.three>img
{
	width: 255px;
	height: 150px;
	float: left;
}
.text_pic
{
	float: left;
	width: 255px;
	height: 122px;
	/*border: solid 1px;*/
}
.text_pic>p
{
	margin-top: 10px;
}

.tit
{
	margin-left: 20px;
	color: rgb(85,85,85);
	font-size: 17px;
	font-family: "微软雅黑";
}
.intro
{
	margin-left: 20px;
	color: rgb(85,85,85);
	font-size: 14px;
	font-family: "微软雅黑";
}
.red
{
	margin-left: 20px;
	color: rgb(250,103,8);
	font-size: 12px;
	font-family: "微软雅黑";
}
.right_text
{
	float: right;
	position: relative;
	top: -60px;
	margin-top: 0px;
	font-size: 12px;
	color: rgb(153,153,153);
	width: 220px;
	/*border: solid 1px;*/
}