body
	{
		margin: 0px;
		/*height: 100%;*/
	}
	
	a{
		cursor: pointer;
	}
		.logo
		{
			float: left;
			margin-top: 15px;
		}
		.navigation a
		{
			color: black;
			font-size: 16px;
			text-decoration: none;
		}
		.navigation a:hover
		{
			color: rgb(10,94,190);
		}
		.navigation
		{
			height: 75px;
			width: 1100px;
			margin: 0 auto;
			font-family: "微软雅黑";
			position: relative;
			/*border-bottom: 1px solid black;*/
		}
		.nav_title
		{
			margin-top: 0px;
			list-style: none;
			padding-left: 15px;
			width: 480px;
			height: 75px;
			float: left;
		}
		.nav_title li
		{
			float: left;
			width: 78px;
			height: 75px;
			text-align: center;
			line-height: 75px;
			/*border: 1px solid black;*/
			/*margin-top: -18px;*/
		}
		.nav_mid
		{
			position: relative;
			float: left;
			left: 50px;
		}
		.search
		{
			height: 26px;
			width: 202px;
			float: left;
			margin-top: 22px;
			font-family: "微软雅黑";
			padding-left: 10px;
			border: 1px solid rgb(10,94,190);
		}
		.search_b
		{
			display: inline-block;
			height: 28px;
			width: 41px;
			background: rgb(10,94,190);
			background-image: url(../images/search1.png);
			background-position: center;
			background-size: 16px;
			background-repeat: no-repeat;
			border: 1px solid rgb(10,94,190);
			margin: 22px 0px;
		}
		.nav_right
		{
			float: right;
			/*border: solid 1px;*/
			line-height: 75px;
			/*padding-top: 10px;*/
		}
		.nav_right span
		{
			border-right: 1px solid black;
			padding-right: 5px;
		}
		.line
		{
			height: 0px;
			width: 100%;
			border: 1px solid rgb(223,223,223);
		}



		/*侧边栏*/
		.middle
		{
			position: fixed;
			right: 2%;
			top: 40%;
			margin-top: 0px;
			/*border: 1px solid black;*/
			float: right;
			z-index: 10;
		}
		.middle a
		{
			text-decoration: none;
		}
		.middle_ul
		{
			background-color: white;
			list-style: none;
			padding: 0px;
			/*padding-bottom: 10px;*/
		}
		.middle_ul li
		{
			/*border: 1px solid white;*/
			height: 45px;
			width: 45px;
			margin-top: 1px;
			background-color: rgb(180,180,180);
			background-repeat: no-repeat;
			transition: background-color 0.5s;
		}
		.im1
		{
			display: none;
			/*visibility: hidden;*/
		}
		.im1 li
		{
			background-image: url(../images/row.png);
			background-size: 25px;
			background-position: center;
		}
		.im2
		{
			background-image: url(../images/ios1.png);
			background-size: 65px;
			background-position: -8px -15px;
		}
		.im3
		{
			/*background: rgb(180,180,180);*/
			background-image: url(../images/android.png);
			background-size: 30px;
			background-position: 10px 5px;
		}
		.im4
		{
			/*background: rgb(180,180,180);*/
			background-image: url(../images/qq.png);
			background-size: 35px;
			background-position: center;
		}
		.im5
		{
			/*background: rgb(180,180,180);*/
			background-image: url(../images/pen.png);
			background-size: 30px;
			background-position: center;
		}
		.im1 li:hover,.im2:hover,.im3:hover
		{
			background-color: rgb(79,199,255);
		}

		.li_cov
		{
			position: absolute;
			background-color: rgb(79,199,255);
			width: 45px;
			height: 0px;
			transition: height 0.5s;
			overflow: hidden;
			color: white;
			/*display: none;*/
		}
		.middle span
		{
			display: inline-block;
			/*border: solid 1px;*/
			width: 45px;
			text-align: center;
			font-size: 12px;
			margin-top: 5px;
		}
		.im4:hover .li_cov,.im5:hover .li_cov
		{
			height: 45px;
			color: white;
		}






		/*底部*/
		.h_footer
		{
			height: 140px;
			width: 100%;
			background: rgb(68,69,71);
		}
		.back_
		{
			height: 140px;
			width: 1100px;
			margin: 0 auto;
		}
		.foot_a
		{
			color: white;
			font-family: "微软雅黑";
			font-size: 14px;
			text-decoration: none;
		}
		.footer_l
		{
			width: 500px;
			list-style: none;
			line-height: 140px;
			padding-left: 0px;
		}
		.foot_a li ,.footer_l li
		{
			float: left;
			padding-right: 2px;
			padding-left: 2px;
			color: white;
			/*border: solid black;*/
		}
		.footer_r
		{
			position: relative;
			top: 35px;
			float: right;
			padding-left: 0px;
			list-style: none;
		}
		.footer_r li
		{
			float: left;
			height: 35px;
			width: 35px;
			/*border: solid black;*/
			border-radius: 35px;
			margin-left: 20px;
			/*background-position: center;*/
			background-color: rgb(111,111,111);
			background-repeat: no-repeat;
		}
		.img_1
		{
			background:url(../images/ios1.png);
			background-size: 48px;
			background-position: -6px -12px;
		}
		li[class^="img"] img
		{
			display: none;
			background-position: center;
		}
		.img_1:hover img
		{
			position: absolute;
			display: block;
			top: -205px;
			left: -46px;
		}
		.img_2
		{
			background:url(../images/android.png);
			background-size: 23px;
			background-position: center;
		}
		.img_2:hover img
		{
			position: absolute;
			display: block;
			top: -205px;
			left: 9px;
		}
		.img_3
		{
			background:url(../images/wechat.png);
			background-size: 50px;
			background-position: center;
		}
		.img_3:hover img
		{
			position: absolute;
			display: block;
			top: -205px;
			left: 64px;
		}
		.img_4
		{
			background:url(../images/weibo.png);
			background-size: 35px;
			background-position: center;
		}
		.img_5
		{
			background:url(../images/pen.png);
			background-size: 20px;
			background-position: center;
		}
		.footer_r li:hover
		{
			background-color: rgb(10,94,190);
		}





/*登录注册页面*/

		.cover
		{
			position: absolute;
			width: 100%;
			height: 3560px;
			background: black;
			opacity: 0.5;
			z-index: 20;
			overflow: hidden;
			display: none;
		}
		.reg_log
		{
			position: fixed;
			width: 100%;
			height: 100%;
			z-index: 25;
			overflow: hidden;
			display: none;
			background-color: rgba(0,0,0,0.3);
		}
		.regist_face
		{
			position: relative;
			margin: 0 auto;
			height: 700px;
			width: 525px;
			/*border: solid 1px;*/
			background-image: url(../images/logback.png);
			background-size: 550px;
			background-position: top center;
			background-repeat: no-repeat;
			background-color: white;
			display: none;
		}

		.regist_ul
		{
			position: relative;
			margin: auto;
			list-style: none;
			padding-left: 0px;
			width: 420px;
			height: 40px;
			top: 180px;
			border-bottom: 1px solid rgb(223,223,223);
		}
		.regist_ul>li
		{
			float: left;
			line-height: 40px;
			font-family: "微软雅黑";
			width: 210px;
			text-align: center;
		}
		.click_li
		{
			color: rgb(10,94,190);
			cursor: pointer;
			border-bottom: 2px solid rgb(10,94,190);
		}
		.noclick_li
		{
			cursor: pointer;
			color: rgb(85,85,85);
		}
		.close
		{
			width: 30px;
			height: 30px;
			float: right;
			font-size: 30px;
			color: #D1CECE;
			cursor: pointer;
			/*border:solid 1px;*/
		}


		.pho_log
		{

		}
		.ema_log
		{
			display: none;
		}
		.inp_reg
		{
			position: relative;
			margin: auto;
			padding-left: 0px;
			list-style: none;
			width: 350px;
			top: 200px;
		}
		.inp_reg input
		{
			height: 35px;
			margin-top: 15px;
			border: 1px solid rgb(223,223,223);
			font-size: 16px;
			background-repeat: no-repeat;
			background-position: 10px center;
		}
		.inp_reg input:focus
		{
			outline: 1px solid rgb(10,94,190);
			color: rgb(10,94,190);
		}
		.phone_re
		{
			padding-left: 30px;
			width: 320px;
			background-image: url(../images/login_register_icon_phone.png);
		}
		.phone_re:focus
		{
			background-image: url(../images/login_register_icon_phone1.png);
		}
		.check_re
		{
			padding-left: 30px;
			background-image: url(../images/login_register_icon_phone2.png);
			width: 180px;
		}
		.acq_check
		{
			float: right;
			margin-top: 15px;
			height: 35px;
			width: 120px;
			text-align: center;
			line-height: 35px;
			color: white;
			cursor: pointer;
			background: rgb(10,94,190);
		}
		.check_re:focus
		{
			padding-left: 30px;
			background-image: url(../images/login_register_icon_phone3.png);
		}
		.name_re,.name1_re
		{
			padding-left: 30px;
			width: 320px;
			background-image: url(../images/login_register_icon_email1.png);
		}
		.name_re:focus,.name1_re:focus
		{
			background-image: url(../images/login_register_icon_email4.png);
		}
		.pwd_re,.pwd1_re
		{
			padding-left: 30px;
			width: 320px;
			background-image: url(../images/login_register_icon_email2.png);
		}
		.pwd_re:focus,.pwd1_re:focus
		{
			background-image: url(../images/login_register_icon_email5.png);
		}
		.pwda_re,.pwda1_re
		{
			padding-left: 30px;
			width: 320px;
			background-image: url(../images/login_register_icon_email2.png);
		}
		.pwda_re:focus,.pwda1_re:focus
		{
			background-image: url(../images/login_register_icon_email5.png);
		}


		.email_re
		{
			padding-left: 30px;
			width: 320px;
			background-image: url(../images/login_register_icon_email.png);
		}
		.email_re:focus
		{
			background-image: url(../images/login_register_icon_email3.png);
		}


		.two_text
		{
			position: relative;
			height: 20px;
			width: 350px;
			top: 205px;
			margin: 0 auto;
			font-size: 14px;
			color: rgb(85,85,85);
			/*border: solid 1px;*/
		}
		.two_text a
		{
			color: rgb(21,128,176);
			text-decoration: none;
		}
		.two_text a:hover
		{
			border-bottom: 1px rgb(21,128,176) dotted;
		}
		.verify
		{
			position: relative;
			margin: 0 auto;
			width: 350px;
			top: 220px;
			padding-left: 0px;
			list-style: none;
			/*border: solid 1px;*/
		}
		.verify>div
		{
			width: 350px;
			height: 35px;
			margin-bottom: 15px;
		}
		.reminder,.reminder1
		{
			display: none;
		}
		.reminder_inp,.reminder1_inp
		{
			width: 350px;
			height: 35px;
			border: 0px;
			font-size: 16px;
			color: rgb(243,74,77);
		}
		.creat
		{
			display: inline-block;
			width: 350px;
			height: 35px;
			text-align: center;
			line-height: 35px;
			color: white;
			font-family: "黑体";
			font-size: 18px;
			cursor: pointer;
			background: rgb(10,94,190);
		}
		.click_log
		{
			text-align: center;
			font-size: 14px;
			color: rgb(85,85,85);
		}
		.click_log a
		{
			color: rgb(10,94,190);
			text-decoration: none;
		}
		.click_log a:hover
		{
			border-bottom: 1px rgb(21,128,176) dotted;
		}

/*登陆界面*/

		.log_face
		{
			position: relative;
			margin: 0 auto;
			height: 700px;
			width: 525px;
			/*border: solid 1px;*/
			background-image: url(../images/logback.png);
			background-size: 550px;
			background-position: top center;
			background-repeat: no-repeat;
			background-color: white;
			display: none;
		}
		.text_log
		{
			position: relative;
			margin: auto;
			width: 350px;
			top: 220px;
			font-family: "微软雅黑";
			color: rgb(85,85,85);
		}
		.inp_log
		{
			position: relative;
			margin: auto;
			padding-left: 0px;
			list-style: none;
			width: 350px;
			top: 220px;
		}
		.inp_log input
		{
			height: 35px;
			margin-top: 15px;
			border: 1px solid rgb(223,223,223);
			font-size: 16px;
			background-repeat: no-repeat;
			background-position: 10px center;
		}
		.inp_log input:focus
		{
			outline: 1px solid rgb(10,94,190);
			color: rgb(10,94,190);
		}
		.three_ul
		{
			position: relative;
			width: 350px;
			margin: auto;
			padding-left: 0px;
			list-style: none;
			top: 230px;
			/*border: solid 1px;*/
		}
		.three_ul li
		{
			width: 350px;
			/*border: solid 1px;*/
			margin-bottom: 5px;
			height: 30px;
		}
		.check
		{
			width: 15px;
			height: 15px;
			position: relative;
			left: 0px;
			top: 2px;
		}
		.rember
		{
			font-family: "微软雅黑";
			/*display: inline-block;*/
			height: 30px;
			line-height: 25px;
			font-size: 14px;
			color: rgb(85,85,85);
		}
		.forget
		{
			float: right;
			font-size: 14px;
			color: rgb(10,94,190);
			text-decoration: none;
			height: 30px;
			line-height: 30px;
		}
		.forget:hover
		{
			border-bottom: 1px rgb(10,94,190) dotted;
		}
		.output_li
		{
			display: none;
		}
		.output
		{
			height: 20px;
			width: 350px;
			font-size: 16px;
			color: rgb(243,74,77);
			border: 0px;
		}
		.immediate
		{
			border: 0;
			border-radius: 5px;
			width: 350px;
			height: 40px;
			line-height: 40px;
			color: white;
			font-family: "黑体";
			font-size: 18px;
			cursor: pointer;
			background: rgb(10,94,190);
		}
		.verify_log
		{
			position: relative;
			margin: 0 auto;
			width: 350px;
			top: 250px;
			padding-left: 0px;
			list-style: none;
			/*border: solid 1px;*/
		}
		.verify_log>div
		{
			width: 350px;
			height: 20px;
			/*border: solid 1px;*/
			margin-bottom: 10px;
		}
		.or
		{
			text-align: center;
			color: rgb(223,223,223);
			font-family: "微软雅黑";
		}
		.or span:before
		{
			position: relative;
			content: "";
			width: 130px;
			height: 1px;
			display: inline-block;
			background: rgb(223,223,223);
			top: -5px;
		}
		.use
		{
			font-family: "微软雅黑";
			color: rgb(85,85,85);
		}
		.third_party
		{
			position: relative;
			top: 250px;
			padding-left: 0px;
			width: 275px;
			margin: auto;
			list-style: none;
			/*border: solid 1px;*/
		}
		.third_party li
		{
			float: left;
			margin: 20px;
			height: 49px;
			width: 49px;
		}
		.weibo
		{
			background-image: url(../images/third_party_longin_button0.png);
		}
		.weibo:hover
		{
			background-image: url(../images/third_party_longin_button3.png);
		}
		.qq
		{
			background-image: url(../images/third_party_longin_button1.png);
		}
		.qq:hover
		{
			background-image: url(../images/third_party_longin_button4.png);
		}
		.wechat
		{
			background-image: url(../images/third_party_longin_button2.png);
		}
		.wechat:hover
		{
			background-image: url(../images/third_party_longin_button5.png);
		}





#dengluCheck{
	width: 15px;
	height: 15px;
	position: relative;
	top: 3px;
	left: 0px;
}
