body{
	width: 100%;
	height: auto;
	padding: 0px;
	background-color:rgb(255,255,255) ;
}
a{
	text-decoration: none;
	cursor: pointer;
}
/*页眉*/
header{
	width: 1100px;
	height: 75px;
	margin: 0 auto;
	/*border: 1px solid blue;*/
}
header .table1{
	display: inline-block;
	margin-top: 15px;
	border-spacing: 0px 0px;
	/*border: 1px solid firebrick;*/
}
header .table1 td{
	width: 45px;
}
header .table1 tr td a{
	font-family: "微软雅黑";
	font-size: 18px;
	color: rgb(85,85,85);
}
header .table2{
	display: inline-block;
	float: right;
	margin-top: 18px;
	border-spacing: 40px 0px;
	/*border: 1px solid green;*/
}
header .table2 tr td input{
	float: left;
	width: 200px;
	height: 30px;
	/*border: 1px solid blue;*/
}
header .table2 tr td button{
	float: left;
	width: 40px;
	height: 30px;
	border: 1px solid rgb(10,94,190);
	background-color: rgb(10,94,190);
}
header .table2 tr td a{
	font-family: "微软雅黑";
	font-size: 18px;
	color: rgb(85,85,85);
}
/*文档*/
/*选项*/
section{
	/*border: 1px solid lightseagreen;*/
	width: 1100px;
	height: auto;
	margin: 0px auto;
	background-color: rgb(255,255,255);
}
section .option{
	/*border: 1px solid red;*/
	float: left;
	width: 220px;
	height: auto;
	padding: 60px 20px 60px 20px;
	margin-top: 30px;
	background-color: rgb(248,249,251);
}
section .option p{
	color: rgb(119,119,119);
	font-family: "微软雅黑";
	font-size: 16px;
	cursor: pointer;
	line-height: 20px;
}
/*文字*/
section .character{
	/*display: none;*/
	/*border: 1px solid gold;*/
	margin-left: 260px;
	width: 840px;
	height: auto;
	margin-top: 60px;
}
section .character .p1{
	font-family: "微软雅黑";
	font-size: 16px;
	color: rgb(51,51,51);
}
section .character .p2{
	font-family: "微软雅黑";
	font-size: 14px;
	color: rgb(85,85,85);
	line-height: 30px;
}
/*关于我们*/
section .character1{
	/*display: ;*/
	/*border: 1px solid gold;*/
	margin-left: 260px;
	width: 840px;
	height: auto;
	margin-top: 60px;
}
section .character1 .p1{
	font-family: "微软雅黑";
	font-size: 16px;
	color: rgb(51,51,51);
}
section .character1 .p2{
	font-family: "微软雅黑";
	font-size: 14px;
	color: rgb(85,85,85);
	line-height: 30px;
}
/*联系我们*/
section .character2{
	/*display: none;*/
	/*border: 1px solid gold;*/
	margin-left: 260px;
	width: 840px;
	height: auto;
	margin-top: 60px;
}
section .character2 .p1{
	font-family: "微软雅黑";
	font-size: 16px;
	color: rgb(51,51,51);
}
section .character2 .p2{
	font-family: "微软雅黑";
	font-size: 14px;
	color: rgb(85,85,85);
	line-height: 30px;
}

/*加入我们*/
section .character3{
	/*display: none;*/
	/*border: 1px solid gold;*/
	margin-left: 260px;
	width: 840px;
	height: auto;
	margin-top: 60px;
}
section .character3 .p1{
	font-family: "微软雅黑";
	font-size: 16px;
	color: rgb(51,51,51);
}
section .character3 .p2{
	font-family: "微软雅黑";
	font-size: 14px;
	color: rgb(85,85,85);
	line-height: 30px;
}
section .character3 .p3{
	font-family: "微软雅黑";
	font-size: 16px;
	color: rgb(0,0,0);
	line-height: 30px;
}
/*页脚*/
footer{
	width: 1100px;
	height: 140px;
	margin: 0 auto;
	background-color: rgb(68,69,71);
}
footer .ul1 li{
	list-style-type: none;
	float: left;
}
footer .ul1 li a{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFFFFF;
	line-height: 140px;
}
footer .ul1 li a:link{
	color: #FFFFFF;
	text-decoration: none;
}
footer .ul1 li a:visited{
	color: #FFFFFF;
	text-decoration: none;
}
footer .ul1 li a:hover{
	color: #FFFFFF;
	text-decoration: none;
}
footer .ul1 li a:active{
	color: #FFFFFF;
	text-decoration: none;
}
footer div div img{
	width: 340px;
	height: 340px;
}
